#footer{
/*  background: rgba(0,0,0,0.1);

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;*/
}

#menu .sub_menu{
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}