<link href="themes/default/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="themes/default/css/typography-front.css" rel="stylesheet" type="text/css"/>
<link href="themes/default/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="themes/default/css/supersized.css" type="text/css" rel="stylesheet" />
<link href="themes/default/css/supersized.shutter.css" type="text/css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="themes/default/css/camera/css/camera.css" />
<link rel="alternate" type="application/rss+xml" title="Info &amp; News RSS" href="/home/rss" />