      <div id="menu_wrapper">
      <a class="menu_toggler" href="javascript:void(0)" title="menu">
        <span class="menu-btn-name"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div id="menu">
        <ul>
          <li class="first link"><a href="/">HOME</a></li>
          <li class=" link"><a href="#">PROFIL</a>
            <ul class="sub_menu sub_menu_level_2">
              <li class="first link"><a href="/tentang-kami">TENTANG KAMI</a></li>
              <li class=" link"><a href="/tim-dan-staf">TIM DAN STAF</a></li>
              <li class="last link"><a href="/budaya-kerja">BUDAYA KERJA</a></li>
              <div class="clear"></div>
            </ul>  
          </li>
          <li class=" link"><a href="#">GALERI</a>
            <ul class="sub_menu sub_menu_level_2">
              <li class="first link"><a href="/galeri-produksi">PRODUKSI</a></li>
              <li class=" link"><a href="/galeri-kontruksi">KONTRUKSI</a></li>
              <li class=" link"><a href="/galeri-ujicoba">UJI COBA</a></li>
              <li class="last link"><a href="/galeri-bermain">BERMAIN</a></li>
              <div class="clear"></div>
            </ul>
          </li>
          <li class=" link"><a href="/hubungi-kami">HUBUNGI KAMI</a></li>
          <li class="last link"><a href="/publikasi">PUBLIKASI</a></li>
          <div class="clear"></div>
        </ul>
      </div>
      </div>