      <div id="menu_wrapper">
      <a class="menu_toggler" href="javascript:void(0)" title="menu">
        <span class="menu-btn-name"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div id="menu">
        <ul>
          <li class="first link"><a href="/">HOME</a></li>
          <!-- <li class=" link"><a href="#">PROFIL</a>
            <ul class="sub_menu sub_menu_level_2">
              <li class="first link"><a href="/tentang-kami">TENTANG KAMI</a></li>
              <li class=" link"><a href="/tim-dan-staf">TIM DAN STAF</a></li>
              <li class="last link"><a href="/budaya-kerja">BUDAYA KERJA</a></li>
              <div class="clear"></div>
            </ul>  
          </li> -->
          <li class=" link"><a href="#">GALERI</a>
            <ul class="sub_menu sub_menu_level_2">
              <li class="first link"><a href="/galeri-pabrik">PABRIK FIBER</a></li>
              <li class="last link"><a href="/galeri-produksi">PRODUKSI FIBER</a></li>
              <!-- <li class=" link"><a href="/galeri-kontruksi">KONTRUKSI</a></li> -->
              <!-- <li class=" link"><a href="/galeri-ujicoba">UJI COBA</a></li> -->
              <!-- <li class="last link"><a href="/galeri-bermain">BERMAIN</a></li> -->
              <div class="clear"></div>
            </ul>
          </li>
          <li class=" link"><a href="#">JENIS PERMAINAN</a>
            <ul class="sub_menu sub_menu_level_2">
              <li class="first link"><a href="/permainan-big-jump">BIG JUMP</a></li>
              <li class=" link"><a href="/permainan-boomerang">BOOMERANG</a></li>
              <li class=" link"><a href="/permainan-dry-pool">DRY POOL</a></li>
              <li class=" link"><a href="/permainan-ember-tumpah">EMBER TUMPAH SET</a></li>
              <li class=" link"><a href="/permainan-octopus">OCTOPUS</a></li>
              <li class=" link"><a href="/permainan-racing-slide">RACING SLIDE</a></li>
              <li class=" link"><a href="/permainan-super-bowel">SUPER BOWL</a></li>
              <li class=" link"><a href="/permainan-tirai">TIRAI</a></li>
              <li class=" link"><a href="/permainan-slide-75">BODY SLIDE 75</a></li>
              <li class=" link"><a href="/permainan-slide-100">BODY SLIDE 1000</a></li>
              <li class=" link"><a href="/permainan-family-slide">FAMILY SLIDE</a></li>
              <li class=" link"><a href="/permainan-slide-14">KOLAM ARUS</a></li>
              <li class="last link"><a href="/permainan-giant-riser">GIANT SLIDE</a></li>
              <div class="clear"></div>
            </ul>
          </li>
          <li class="last link"><a href="/hubungi-kami">HUBUNGI KAMI</a></li>
          <!-- <li class="last link"><a href="/publikasi">PUBLIKASI</a></li> -->
          <div class="clear"></div>
        </ul>
      </div>
      </div>