<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <base href="{{ site.siteurl }}" />
    <title>{{ page.title }} - {{ site.judulweb }}</title>
    {% include metadata.html %}
    {% include favicon.html %}
    {% include css.html %}
    {% include js.html %}
    {% include script-right-click.html %}
    {% include css-portfolio.html %}
    {% include css-fancybox.html %}
  </head>
  <body>
<div id="portfolio">
  <div id="supersized_button">
    {% include navigation-thumbnail.html %}
    {% include navigation-arrow.html %}
    {% include navigation-progress-bar.html %}
    {% include navigation.html %}
  </div>
  {% include js-lazyload.html %}
  <div id="slide_content_bg"></div>
  <div id="slide_content" class="cms_content">
    <h1>{{ page.title-h1 }}</h1>
    <p>{{ page.keterangan }}</p>
  </div>
</div>
{% include picture-permainan-giant-riser.html %}
  <div id="footer">
      <div id="inside">
        {% include logo.html %}
        {% include menu.html %}
        {% include copyright.html %} 
      </div>
    </div>
  {% include analytics.html %}
</body>
</html>
{% include js-portfolio.html %}