<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <base href="{{ site.siteurl }}" />
    <title>{{ page.title }} - {{ site.judulweb }} </title>
    {% include metadata.html %}
    {% include favicon.html %}
    {% include css.html %}
    {% include js.html %}
    {% include script-right-click.html %}
    {% include css-camera.html %}
    {% include rss.html %}
  </head>
  <body>
      <div id="full">
        <div id="content_wrapper">
          <div id="page">
            <div class="cms_content">
              {{ content }}
              <p> </p>
              <p> </p>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    <div id="footer">
      <div id="inside">
        {% include logo.html %}
        {% include menu.html %}
        {% include copyright.html %} 
      </div>
    </div>
  {% include analytics.html %}
  </body>
</html>
{% include script-mobile-menu.html %}